:root {
  --info-background: #f5fbff;
  --info-border: #c5e3fc;
  --danger-background: #fff5f6;
  --danger-border: #d32f2f;
  --text-color: #093371;
}
.info{
  --info-text-font-family: 'Roboto';
  --info-text-font-style: normal,regular;
  --info-text-font-weight: 500,400;
  --info-text-font-size: 14px;
}
.danger {
  --danger-text-font-family: 'Roboto';
  --danger-text-font-style: normal,regular;
  --danger-text-font-weight: 500,400;
  --danger-text-font-size: 14px;
  --info-icon-background:#093371;
  --danger-icon-background:#B71C1C;
}
