:root {
  --info-background: #f5fbff;
  --info-border: #c5e3fc;
  --danger-background: #fff5f6;
  --danger-border: #d32f2f;
  --text-color: #093371;
  --info-font-family: 'Roboto';
  --info-font-style: normal,regular;
  --info-font-weight: 500,400;
  --info-font-size: 14px;
  --danger-font-family: 'Roboto';
  --danger-font-style: normal,regular;
  --danger-font-weight: 500,400;
  --danger-font-size: 14px;
}
