:root {
  --button-background: #262626;
  --elipse-color: #2B7EF5;
  --text-color: #E1E6EC;
  --text-font-family: 'Roboto';
  --text-font-style: bold;
  --text-font-weight: 700;
  --text-font-size: 26;
}
