:root {
  --notification-background: #212934;
  --elipse-color:#B71C1C;
  --text-color: #FFFFFF;
  --text-font-size: 14px;
  --text-font-family: 'Roboto';
  --text-font-style: regular;
  --text-font-weight: 500;
}
